:root {
  --my-color: #553555;
}

.bg-void {
  background-color: var(--my-color);
}

.navbar-brand h2,
.footer-brand {
  font-weight: bold;
  letter-spacing: 0.075rem;
  transition: 0.3s ease-in-out;
}
.navbar-brand h2:hover,
.footer-brand:hover {
  color: #0275d8;
}

.showcase h2 {
  font-weight: normal;
  padding-top: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.partner h2,
.benefit h2,
.learning-type h2 {
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 2px;
}
.benefit h3 {
  font-size: large;
  font-weight: 800;
  margin-bottom: 2px;
}

.benefit i {
  font-size: 30px;
  color: #333;
}

.card-control-1 {
  display: flex;
  align-items: center;
  text-align: left;
  height: 50px;
  margin-bottom: 30px;
}

.learning-type .card-control-1 h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-control-2 {
  display: flex;
  align-items: flex-start;
  text-align: left;
  height: 100px;
}

.learning-type .card .btn:hover {
  transform: scale(0.98);
}

.learning-type .card i {
  display: flex;
  align-items: flex-start;
  font-size: 35px;
}

.card-text {
  opacity: 0.7;
}

.learning-type .btn {
  display: block;
  font-weight: 600;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer i {
  font-size: 30px;
}

.void-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.footer .link-title {
  opacity: 0.4;
  padding-bottom: 15px;
}

.footer-nav li Link {
  color: #fff;
}

.contact-person {
  text-decoration: underline;
  color: #0275d8;
}

.my-btn {
  font-size: 15px;
  margin-bottom: 30px;
}

.score {
  background-color: #058c42;
}

.kurikulum {
  background-color: #04471c;
}

.small-container {
  max-width: 700px;
  margin: 0 auto;
  letter-spacing: 0.3px;
  overflow: auto;
}
.medium-container {
  max-width: 1000px;
  margin: 0 auto;
}
